body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    height: 50%;
    width: 50%;
    margin: 10px;
    background-color: grey;
    text-align: center;
    display: block;
    justify-content: center;
}