* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #dddcdc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container{
    height: auto;
    width: 50%;
    display: block;
    justify-content: center;
    text-align: center;
    border: solid 1px black;
    font-size:2rem;
    color: #333;
}
#imgn{
    height: 50%;
    width:  50%;
}
.cabecera{
    padding: 1px;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    box-shadow: 0 6px 8px rgba(1, 1, 1, 0.8); /* Borde sombreado */

}
.cabecera img{
    height: 90%;
    width:  10%;
    margin: 5px;
    margin-right: 50px;
}
.cabecera h1 {
    flex-grow: 1;
    text-align: center; /* Centra el texto dentro del espacio que ocupa */
}
.footer{
    height: 80px;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
